<!DOCTYPE html>
<html>

<head>
    <style>
        /* prevents white bar from appearing */
        body:not(.modal-open){
            padding-right: 0px !important;
        }

        .modal-content.ui-resizable {
            overflow-y: scroll;
            position: static;
        }

        .ui-resizable { position: absolute;}
        .ui-resizable-handle { position: absolute; font-size: 0.1px; display: block; }
        .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: 0px; left: 0;}
        .ui-resizable-e { cursor: e-resize; width: 7px; right: 0px; top: 0; height: 100%;}
        .ui-resizable-se { cursor: se-resize; width: 20px; height: 20px; right: 0px; bottom: 0px;}

    </style>
    <%- include("../partials/agent_page_head") %>
</head>

<body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <%- include("../partials/agent_page_header") %>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <%- include("../partials/agent_page_sidebar_main") %>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div id="helpalert_placeholder"></div>
            <section class="content">

                <!--Alert message-->
                <div id="generalAlert" class="alert alert-success alert-dismissible" role="alert" hidden>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div id="alertText">Alert</div>
                </div>

                <div class="grid-stack">
                    <!-- VideoBox -->
                    <div class="grid-stack-item" data-gs-x="0" data-gs-width="10" data-gs-max-width="10" data-gs-min-width="2" data-gs-height="14" data-gs-max-height="14" data-gs-id="gsvideobox" id='gsvideobox'>
                        <div class="grid-stack-item-content">
                            <!--div class="col-xs-12 col-sm-12 col-md-12 col-lg-9"-->
                            <!--<div class="box"> added the box class in the included file for collapse to work-->
                                <%- include("../partials/agent_box_video") %>
                            <!--</div>-->
                            <!--/div-->
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="9" data-gs-width="4" data-gs-height="10" id='gschatbox'>
                        <div class="grid-stack-item-content">
                            <!--div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"-->
                            <!--<div class="box"> added the box class in the included file for collapse to work-->
                                <%- include("../partials/agent_box_chat") %>
                            <!--</div>-->
                            <!--/div-->
                        </div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="0" data-gs-width="6" data-gs-height="6" id='gsscriptbox' hidden>
                        <div class="grid-stack-item-content">
                            <!--div class = "row" id = "scripts-and-details"-->
                            <!--div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"-->
                            <div class="box">
                                <%- include("../partials/agent_box_scripts") %>
                            </div>
                            <!--/div-->
                        </div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="7" data-gs-width="6" data-gs-height="6" id='gsdetailsbox' hidden>
                        <div class="grid-stack-item-content">
                            <!--div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"-->
                            <div class="box">
                                <%- include("../partials/agent_box_call_details") %>
                            </div>
                            <!--/div-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include("../partials/acedirect_footer") %>

            <!-- Control Sidebar -->
            <aside id="ctrl-sidebar" class="control-sidebar control-sidebar-dark" style="width: 500px; right:-500px">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li class="active">
                        <a href="#control-sidebar-agents-tab" data-toggle="tab"id="agents-tab" name="Agent_Tab">
                            <i class="fa fa-users"></i>&nbsp;&nbsp;Agents</a>
                    </li>
                    <li>
                        <a href="#control-sidebar-videomail-tab" data-toggle="tab" id="videomail-tab" name="Videomail_Tab">
                            <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Video Mail</a>
                    </li>
                    <li>
                        <a href="#control-sidebar-shortcuts-tab" data-toggle="tab" id="shortcuts-tab" name="Shortcuts_Tab">
                            <i class="fa fa-keyboard-o"></i>&nbsp;&nbsp;Shortcuts</a>
                    </li>
                    <li id="debugtab">
                        <a href="#control-sidebar-debug-tab" data-toggle="tab">
                            <i class="fa fa-bug"></i>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Agent Status tab content -->
                    <div class="tab-pane active" id="control-sidebar-agents-tab">
                        <div class="form-group">
                            <table id='agenttable' class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Status&nbsp;&nbsp;&nbsp;</th>
                                        <th>Agent</th>
                                        <th>Ext</th>
                                        <th>Queues</th>
                                        <th>Multi-Party Invite</th>
                                        <th>Chat</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.Agent Status tab content -->

                    <!-- Debug tab content -->
                    <div class="tab-pane" id="control-sidebar-debug-tab">
                        <input type="button" class="btn btn-danger" id="btndbgclear" value="Clear Debug Text" onclick='cleardbgtxt();' />
                        <br>
                        <div id="dbgtxt" style='height:400px;max-height: 400px;overflow-y:scroll;'></div>
                    </div>
                    <!-- /.Debug tab content -->

                    <!-- Mail tab content -->
                    <div class="tab-pane" id="control-sidebar-videomail-tab">
                        <div class="form-group" style='height: 90vh; max-height:90vh; overflow-y:scroll;'>
                            <label>Mailbox Messages</label>
                            <button type="button" class="btn btn-default" onclick="getVideomailRecs();">
                                <i id="refresh-icon" class="fa fa-refresh" name="Refresh_Messages" accesskey="R"></i>
                            </button>
                            <span id="videomail-filter-dropdown" class="dropdown dropdown-menu-left" style='float:right'>
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <!--span><i id="status-icon" class="call-btn-icon fa fa-envelope"></i></span-->&nbsp;&nbsp;&nbsp;
                                    <span id="videomail-filter" name="Videomail_Filter" accesskey="Q">Filter Messages
                                        <span>
                                            <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li onclick="filterVideomail('ALL');">
                                        <a href="#">
                                            <span>All</span>
                                        </a>
                                    </li>
                                    <li onclick="filterVideomail('UNREAD');">
                                        <a href="#">
                                            <span>Unread</span>
                                        </a>
                                    </li>
                                    <li onclick="filterVideomail('READ');">
                                        <a href="#">
                                            <span>Read</span>
                                        </a>
                                    </li>
                                    <li onclick="filterVideomail('IN PROGRESS');">
                                        <a href="#">
                                            <span>In Progress</span>
                                        </a>
                                    </li>
                                    <li onclick="filterVideomail('CLOSED');">
                                        <a href="#">
                                            <span>Closed</span>
                                        </a>
                                    </li>
                                </ul>
                                </span>
                                <table class="table table-hover" id="Videomail_Table">
                                    <thead>
                                        <tr>
                                            <th id="vmail-vrs-number" name="Sort_VRS_Number" accesskey="3">Videophone No.
                                                <i id="video-id-sort" class="fa fa-sort" > </i>
                                            </th>
                                            <th id="vmail-date" name="Sort_Videomail_Date" accesskey="4">Date
                                                <i id="video-id-sort" class="fa fa-sort"> </i>
                                            </th>
                                            <th id="vmail-duration" name="Sort_Videomail_Duration" accesskey="5">Duration (sec)
                                                <i id="video-id-sort" class="fa fa-sort" > </i>
                                            </th>
                                            <th id="vmail-status" name="Sort_Videomail_Status" accesskey="6">Status
                                                <i id="video-id-sort" class="fa fa-sort"> </i>
                                            </th>
                                            <th id="vmail-callback" name="Sort_Videomail_Callback" accesskey="7">Callback
                                                <i id="video-id-sort" class="fa fa-sort"> </i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id='videomailTbody'>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <!-- /.Mail tab content -->

                    <!-- Keyboard Shortcuts tab content -->
                    <div class="tab-pane" id="control-sidebar-shortcuts-tab">
                        <div class="form-group" style='height: 90vh; max-height:90vh; overflow-y:scroll;'>
                            <table id='shortcutsTable' class="table table-hover dataTable">
                                <thead>
                                    <div>PC: alt+shortrcut</div>
                                    <div>Mac: ctrl+option+shortcut</div>
                                    <div><b>Click row to change shortcut</b></div>
                                    <!--
                                    <button id="shortcut-up-btn" class="btn" href="javascript:void()" style="background-color: transparent; size: 0px;" name="UP_BTN" onclick="console.log(goUpTable())" accesskey="="></button>
                                    <button id="shortcut-down-btn" class="btn" href="javascript:void()" style="background-color: transparent; size: 0px;" name="DWN_BTN" onclick="console.log(goDownTable())" accesskey="-"></button>
                                    -->
                                    <tr>
                                        <th>Action&nbsp;&nbsp;&nbsp;</th>
                                        <th>Shortcut</th>
                                        <th><button id="clear-shortcuts" class="btn btn-default" onclick="clearShortcuts()" name="Clear_Shortcuts">Clear</button> </th>
                                        <th><button id="reset-shortcuts" class="btn btn-default" onclick="resetShortcuts()" name="Reset_Shortcuts" >Reset</button> </th>
                                    </tr>
                                </thead>
                                <tbody id="shortcutsBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.Keyboard Shortcuts tab content -->
                </div>
                <!-- /.Tab panes -->
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar
            <div class="control-sidebar-bg" style="width:500px; right:-500px"></div>-->

    </div>
    <!-- ./wrapper -->

    <!-- Glass Panel -->
    <div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>

    <!--Keyboard Shortcuts Modal-->
    <div id="modalChangeShortcut" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 text-align="center" class="modal-title">Change Shortcut</h2>
                </div>
                <div class="modal-body text-center">
                    <h4 class="modal-title" id="changeShortcutBody">
                        <div id="current-action"></div>
                        <input id="new-shortcut" type="text" class="form-control input-md" placeholder="Enter new shortcut" maxlength="1" autofocus autocomplete="off" />

                    </h4>

                </div>
                <div class="modal-footer">
                    <div class="btn-group" style="width: 100%;">
                        <button id="update-shortcut-btn" type="button" onclick="setShortcut( ($('#current-action').attr('value')), ($('#new-shortcut').val()) )" data-dismiss="modal" class="btn btn-success" style="width: 50%; height: 50px;">
                            Accept </button>
                        <button id="close-shortcut-btn" type="button" data-dismiss="modal" class="btn btn-default" style="width: 50%; height: 50px;">
                            Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Keyboard Shortcuts Error -->
    <div class="modal fade" id="shortcutsErrorModal" tabindex="-1" role="dialog" aria-labelledby="shortcutsErrorModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body" id='shortcutsErrorModalBody'></div>
                <div class="modal-footer">
                    <button type="button" id="shortcuts-error-btn" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- License Modal -->
    <div class="modal fade" id="licModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="licModalLabel">Copyright Notices</h4>
                </div>
                <div class="modal-body">
                    <div id="licModalBody"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- VRS Input Modal -->
    <div class="modal fade" id="myVrsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">What is your VRS Number?</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="ivrsmessage" hidden></div>
                    <div class="form-group">
                        <label for="usr">VRS number:</label>
                        <input type="text" class="form-control input-lg" id="ivrsnum" placeholder="VRS Number" data-inputmask="'mask': '(999) 999-9999'"
                            data-mask>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="submitvrs">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Incoming Call Modal -->
    <%- include("../partials/agent_modal_wrapup") %>
        <!-- Incoming Call Modal -->
        <div id="myRingingModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title">Incoming call...</h2>
                    </div>
                    <div class="modal-body text-center">
                        <img src="/images/phoneRinging.gif" alt="Phone Ringing" height="100">
                        <h2 id='myRingingModalPhoneNumber' class="modal-title text-center"></h2>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" style="width: 100%;">
                            <button id="accept-btn" type="button" onclick="accept_call()" class="btn btn-success btn-style" style="width: 50%; height: 50px;">
                                Accept </button>
                            <button id="decline-btn" type="button" onclick="terminate_call()" class="btn btn-danger btn-style" style="width: 50%; height: 50px;">
                                Decline </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="screenshareRequest" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Consumer is requesting screenshare</h2>
                    </div>
                    <div class="modal-footer">
                        <button id="allowScreenshare" type="button" onclick="allowScreenShare()" class="btn btn-success btn-style" style="width: 50%; height: 50px;">
                            Accept </button>
                        <button id="disallowScreenshare" type="button" onclick="disallowScreenShare()" class="btn btn-danger btn-style" style="width: 50%; height: 50px;">
                            Decline </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Missed Call Modal -->
        <div id="myMissedCallModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title">Missed Call</h2>
                    </div>
                    <div class="modal-body text-center">
                        <img src="/images/missed-call.png" alt="Missed Call" height="100">
                    </div>
                    <div style="border-top-color: #f4f4f4;"><h2 id='myMissedCallModalPhoneNumber' class="modal-title text-center">
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <!--Multi Party Extension Modal-->
        <div class="modal fade" id="modalMultiPartyExt">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Multi-Party Invite</h4>
                    </div>
                    <div class="modal-body">
                        <input id="inviteExtension" class="form-control input-lg" placeholder="Enter the extension of who you want to invite to the call" autofocus>
                        <table id="availableAgents" cellpadding="15">
                            <tr>
                                    <th>Agent</th>
                                    <th>Extension</th>
                                    <th>Status</th>
                                    <th>Invite Agent</th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick=multiPartyClick()>Invite</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Call Transfer Modal-->
        <div class="modal fade" id="modalCallTransfer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Call Transfer</h4>
                    </div>
                    <div class="modal-body">
                        <input id="transferExtension" class="form-control input-lg" placeholder="Enter the extension you want to transfer to" autofocus>
                        <button class="btn btn-default" onclick=transferCall(true)>Blind Transfer</button>
                        <button class="btn btn-default" onclick=transferCall(false)>Warm Transfer</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dialpad Modal -->
        <div class="modal fade" id="modalDialpad">
            <div class="modal-dialog">
                <div class="modal-content" style="width: fit-content;">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item active">
                          <a class="nav-link" id="dialpad-tab" onclick="changeTabs('dialpad-tab')" data-toggle="tab" href="#dialpad" role="tab" aria-controls="dialpad" aria-selected="true">
                            <div class="modal-header">
                                <h4 class="modal-title">Dialpad</h4>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="callhistory-tab" onclick="changeTabs('callhistory-tab')" data-toggle="tab" href="#callhistory" role="tab" aria-controls="callhistory" aria-selected="false">
                            <div class="modal-header">
                                <h4 class="modal-title">Call History</h4>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" onclick="changeTabs('contact-tab')" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            <div class="modal-header">
                                <h4 class="modal-title">Contacts</h4>
                            </div>
                          </a>
                        </li>
                      </ul>


                        <div class="tab-pane fade show active in" id="dialpad" role="tabpanel" aria-labelledby="dialpad-tab">
                            <div class="modal-body">
                                <div id="callCard" class="card">
                                    <div class="container-fluid ">

                                        <div id="call-controls">

                                            <div id="button_menu_panel" class="center bottomspace" style="display: none">
                                                <button class="button_menu" id="dial">
                                                    <img class="button-icon" src="/images/dial.png">
                                                </button>
                                            </div>

                                            <div class="phone" id="keypad">
                                                <div class="input-group">
                                                    <input id="phone-number" type="text" class="form-control input-lg" placeholder="Enter a phone #" autofocus />
                                                    <span class="input-group-addon">
                                                        <img id="phone-number-delete-btn" src="/images/backspace.png" height=25 />
                                                    </span>
                                                </div>
                                                <div>
                                                    <div class="num-pad">
                                                        <% var key=[ 1, 2, 3 , 4 ,5 ,6, 7, 8, 9, "*", 0, "#"]; var label=[ "", "ABC", "DEF", "GHI", "JKL", "MNO", "PQRS", "TUV", "WXYZ", "", "", "" ] ; if (key.length === label.length) label.forEach( (x,i)=>{ %>
                                                            <div class="span4">
                                                                <div class="txt keypad-button">
                                                                    <div class="big">
                                                                        <%=key[i] %>
                                                                    </div>
                                                                    <div class="small">
                                                                        <%= label[i] %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }); else {%>
                                                                <div>INTERNAL ERROR: mismatched arrays</div>
                                                                <% } %>
                                                                    <div class="clearfix"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div></div>
                                                                        </div>
                                                                    </div>
                                                    </div>
                                                    <div id="log"></div>
                                                </div>
                                            </div>

                                            <div class="center">
                                                <button id="button-call">
                                                    <img class="button-icon" src="/images/call.png">
                                                </button>
                                            </div>
                                            <div id="invalidNumber" hidden><span style="color:red"><br>The number you have entered is invalid.  Please check the number and try again.</span></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="callhistory" role="tabpanel" aria-labelledby="callhistory-tab">
                            <table class="table no-margin" style="widows: 100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Number</th>
                                        <th>Direction</th>
                                        <th>Duration (s)</th>
                                        <th>Provider/Web Call</th>
                                        <th>Date</th>
                                        <th>Callback</th>
                                    </tr>
                                </thead>
                                <tbody id="callHistoryBody">
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>


                    <div class="modal-footer">
                        <button id="dismiss-dialpad-btn" type="button" class="btn btn-default" onclick="closeDialpadModal()" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- Outbound Call Modal -->
        <div id="modalOutboundCall" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 text-align="center" class="modal-title">Ringing...</h2>
                        </div>
                            <div class="modal-body text-center">
                                <img src="/images/phoneRinging.gif" alt="Phone Ringing" height="100">
                            </div>
                                <div class="modal-footer">
                                    <div class="btn-group" style="width: 100%;">
                                        <button id="end-outCall-btn" type="button" onclick="terminate_call()" class="btn btn-danger btn-style" data-dismiss="modal"  style="width: 100%; height: 50px;">End Call</button>
                                    </div>
                                </div>

                    </div>
                </div>
        </div>

        <!--Outbound Call Failed Modal-->
        <div id="modalOutboundFailed" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 text-align="center" class="modal-title">Call Failed</h2>
                    </div>
                    <div class="modal-body text-center">
                        <h4 class="modal-title" id="outboundFailedBody"></h4>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
     </div>

        <!-- Videomail Retrieval Error Modal -->
        <div id="videomailErrorModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title">Videomail Retrieval Error</h2>
                    </div>
                    <div class="modal-body text-center">
                        <h4 class="modal-title" id="videomailErrorBody"></h4>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- BusyLight Modal -->
        <div class="modal fade" id="busylightModal" tabindex="-1" role="dialog" aria-labelledby="busylightModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Busy Light</h4>
                    </div>
                    <div class="modal-body" id='busylightModalBody'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id='busylightModalTestBtn' onclick="testLightConnection()">Test BusyLight Connection</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--Begin agent chat-->
        <div class="modal fade" id="agentchat" tabindex="-1" role="dialog" aria-labelledby="agentchat" aria-hidden="true" data-backdrop="static" style="width:0px; height:0px; object-fit: contain;">
            <div class="modal-dialog modal-md direct-chat direct-chat-primary" id="agent-chat-dialog" role="document" style="position: fixed;  margin:0;padding: 10px;">
                <div class="modal-content" id="agent-chat-content" style="position: static; object-fit: cover; border: 1px solid #404040; box-shadow:2px 2px grey">
                    <div class="modal-header" id="agent-chat-header" style="position: sticky; top:0; background-color: white; z-index: 99;">
                        <div id="agent-ext" hidden></div>
                        <button type="button" onclick="clearChat()" hidden>DROP ALL CHAT TABLES</button>
                        <button type="button" class="close" data-dismiss="modal" onclick="closeAgentChat()" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="chatHeader"></h4>
                    </div>
                    <div class="modal-body" id="agent-modal-body">
                        <div id="agent-chat-body">
                            <div class="direct-chat-messages" id="agent-chat-messages"></div>
                            <div class="direct-chat-timestamp text-bold" id="agent-rtt-typing" style="margin-left: 10px; min-height: 20px"></div>
                        </div>
                    </div>
                    <div class="modal-footer" id="agent-chat-footer" style="position: sticky; bottom:0; background-color: white; z-index: 99;">
                        <form name="chatsend" id="agent-chatsend">
                            <div class="input-group">
                                <input type="hidden" id="agentdisplayname">
                                <input type="text" id="agentnewchatmessage" placeholder="Type Message..." class="form-control" autocomplete="off" required>
                                <span class="input-group-btn">
                                    <div class="dropup">
                                        <div class="btn-group">
                                            <button id="agent-chat-emoji" class="btn btn-primary btn-flat" type="button" data-toggle="dropdown"
                                                animation="true" >&#128512;</button>
                                            <div class="dropdown-menu dropdown-multicol" id="emoji-selector"
                                                aria-labelledby="dropdownMenuButton" style="height:150px; min-width:120px; overflow-y: scroll;">
                                                <li role="presentation" class="dropdown-header">Select an Emoji</li>
                                                <li role="presentation" class="divider"></li>
                                                <div class="dropdown-row">
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128512;">&#128512;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128513;">&#128513;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128516;">&#128516;</button>
                                                </div>
                                                <div class="dropdown-row">
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128547;">&#128547;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128577;">&#128577;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#129320;">&#129320;</button>
                                                </div>
                                                <div class="dropdown-row">
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128077;">&#128077;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128078;">&#128078;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128075;">&#128075;</button>
                                                </div>
                                                <div class="dropdown-row">
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128263;">&#128263;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128264;">&#128264;</button>
                                                    <button class="dropdown-item" type="button"
                                                        style="background-color:transparent; border:none" onclick="addEmojiAgentChat(this.value)"
                                                        value="&#128266;">&#128266;</button>
                                                </div>
                                            </div>
                                        </div>
                                    <button class="btn btn-primary btn-flat" id="agent-chat-send" type="submit">Send</button>
                                    <div class='btn-group'>
                                        <button class="btn btn-primary btn-flat" id="agent-chat-broadcast" data-toggle="dropdown"
                                        animation="true">Broadcast</button>

                                        <div class="dropdown-menu dropdown-multicol dropdown-menu-right" id="confirm-broadcast"
                                            aria-labelledby="dropdownMenuButton" style="height:fit-content;width:fit-content;">
                                            <li role="presentation" class="dropdown-header">Confirm Broadcast</li>
                                        <li role="presentation" class="divider"></li>

                                            <div class="dropdown-row" style="text-align: center; display: block;">
                                                <button class="dropdown-item btn btn-success" type="button"
                                                    style="text-align: center;" onclick="sendBroadcast()">Confirm</button>
                                                <button class="dropdown-item btn btn-danger" type="button"
                                                    style="text-align: center;">Cancel</button>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--End agent chat-->

        <!-- Jssip hidden data -->
        <div hidden>
            <div id="my_sip_uri"> </div>
            <div id="sip_password"> </div>
            <div id="pc_config"> </div>
            <div id="signaling_server_public"> </div>
            <div id="signaling_server_port"> </div>
            <div id="pc_config"> </div>
        </div>

        <!-- Videomail hidden data -->
        <div hidden>
            <div id="videomailId"> </div>
            <div id="callbacknum"> </div>
        </div>

        <div id="snackbar">Default Text</div>

        <%- include("../partials/agent_page_javascript") %>

	<script>


/*
var call_option_buttons = document.getElementById("call-option-buttons");
call_option_buttons.style.display = "block";
var remoteStream = document.getElementById("remoteView");
var selfStream = document.getElementById("selfView");
start_video(selfStream)
start_video(remoteStream)

function start_video(video) {
	// Older browsers might not implement mediaDevices at all, so we set an empty object first
	if (navigator.mediaDevices === undefined) {
		navigator.mediaDevices = {};
	}

	// Some browsers partially implement mediaDevices. We can't just assign an object
	// with getUserMedia as it would overwrite existing properties.
	// Here, we will just add the getUserMedia property if it's missing.
	if (navigator.mediaDevices.getUserMedia === undefined) {
		navigator.mediaDevices.getUserMedia = function (constraints) {
			// First get ahold of the legacy getUserMedia, if present
			var getUserMedia = navigator.msGetUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

			// Some browsers just don't implement it - return a rejected promise with an error
			// to keep a consistent interface
			if (!getUserMedia) {
				return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
			}

			// Otherwise, wrap the call to the old navigator.getUserMedia with a Promise
			return new Promise(function (resolve, reject) {
				getUserMedia.call(navigator, constraints, resolve, reject);
			});
		}
	}

	navigator.mediaDevices.getUserMedia({
			audio: true,
			video: true
		})
        //navigator.mediaDevices.getUserMedia({ audio: false, video: true })
		.then(function (stream) {
			video.removeAttribute("hidden");
			// Older browsers may not have srcObject
			if ("srcObject" in video) {
				video.srcObject = stream;
			} else {
				// Avoid using this in new browsers, as it is going away.
				video.src = window.URL.createObjectURL(stream);
			}
			window.video = stream;
			video.onloadedmetadata = function (e) {
				video.play();
			};
		})
		.catch(function (err) {
			console.log(err.name + ": " + err.message);
		});
}


*/

	</script>
</body>

</html>
