<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FCC ASL Consumer Support</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-toggle.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<link rel="stylesheet" href="/assets/css/ionicons.min.css">
	<link rel="stylesheet" href="/assets/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/assets/css/skin-blue.min.css">
	<!-- Custom Portal stylesheet -->
	<link rel="stylesheet" href="/css/ca-portal.css">
	<link rel="stylesheet" href="/css/video-player.css">

	<link rel="stylesheet" href="/css/dd.css">
	<script>
		var nginxPath = '<%= nginxPath %>';
		var stunFQDN = '<%= stunFQDN %>';
		var stunPort = '<%= stunPort %>';
		var turnFQDN = '<%= turnFQDN %>';
		var turnPort = '<%= turnPort %>';
		var turnUser = '<%= turnUser %>';
		var turnCred = '<%= turnCred %>';
	</script>
	<style>
		.blink {
			animation: blinker 1s linear infinite;
		}

		@keyframes blinker {
			50% {
				opacity: 0.0;
			}
		}
	</style>

</head>

<body class="hold-transition skin-blue-light layout-top-nav">

	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>FCC ASL Consumer Support</h1><small><a href="/logout" id="notMyInfoLink">Back</a></small>

			</section>
			<!-- Main content -->
			<section class="content">
				<!-- Main Row -->
				<div class="row">
					<section class="col-lg-12">
						<div id="vrs-info-box" class="box" hidden>
							<div class="box-header with-border">
								<h3 class="box-title">VRS Information</h3>
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div class="row">
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">First Name</label>
											<div>
												<input type="text" class="form-control" id="firstName" name="fname"
													readonly />
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input type="text" class="form-control" id="lastName" readonly />
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Phone</label>
											<div id="input-group" class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-phone"></i>
												</div>
												<input type="text" class="form-control" id="callerPhone" name="phone"
													data-inputmask="'mask': '(999) 999-9999'" data-mask readonly />
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Email</label>
											<div id="input-group" class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-envelope"></i>
												</div>
												<input type="email" class="form-control" id="callerEmail" name="email"
													required readonly />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="row">
					<!-- Left Col -->
					<section class="col-lg-4" id="ticket-section" hidden>
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">
									<i class="fa fa-exclamation-triangle"></i>
									Complaint Ticket&nbsp;<span id="ticketNumber"></span>
								</h3>
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<form name="userform" id="userform">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="control-label">Subject</label>
												<input type="text" class="form-control" id="subject" autocomplete="off"
													maxlength="150" placeholder="Max of 150 characters" required />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div style="margin-bottom: 5px;">
												<label class="control-label">Description of Complaint</label>
												<textarea class="form-control" id="complaint" maxlength="2000" rows="10"
													maxlength="2000" required></textarea>
												<p>You have <span id="complaintcounter">2000</span> characters left.</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group text-center">
											<button id='userformbtn' class="btn btn-success" type="submit">
												Submit
											</button>
										</div>
									</div>
								</form>
							</div>
							<div id="userformoverlay" hidden>
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
					</section>
					<!-- Middle Col -->
					<section class="col-lg-7" id="video-section">
						<div class="box">
							<div class="box-header with-border">
								<i class="fa fa-video-camera"></i>
								<h3 class="box-title">Video</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i>
									</button>
								</div>
							</div>

							<div class="box-body" id="fullscreen-element">
								<div id="webcam" hidden>


									<video id="remoteView" autoplay poster="images/acedirect-logo.png"></video>
									<video id="selfView" autoplay muted="true" class="mirror-mode" hidden></video>
									<div id="transcriptoverlay" class="transcriptoverlay"></div> <!-- Caption code -->

									<div id="call-option-buttons">
										<div id="inner">

											<!-- Caption code -->
											<button id="mute-captions" type="button" class="btn btn-gray"
												onclick="mute_captions()">
												<span class="fa-stack">
													<i id="mute-captions-icon" class="fa fa-cc fa-lg fa-stack-1x"></i>
													<i id="mute-captions-off-icon"
														class="fa fa-ban fa-stack-2x text-danger"
														style="display:none;"></i>
												</span>
											</button>

											<button id="mute-audio" type="button" class="btn btn-gray"
												onclick="mute_audio()"> <i id="mute-audio-icon"
													class="call-btn-icon fa fa-microphone"></i> </button>
											<button id="hide-video" type="button" class="btn btn-gray"
												onclick="enable_video_privacy()">
												<span class="fa-stack">
													<i class="fa fa-video-camera fa-stack-1x"></i>
													<i id="mute-camera-off-icon"
														class="fa fa-ban fa-stack-2x text-danger"
														style="display:none;"></i>
												</span>
											</button>
											<!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed-->

											<!--
											<button id="toggleDTMF" type="button" class="btn btn-gray">
												<i class="fa fa-phone-square"></i>
											</button>
											-->
											<button type="button" class="btn btn-gray" onclick="enterFullscreen()"><i
													id="fullscreen-icon" class="call-btn-icon fa fa-expand"></i>
											</button>
											<button id="end-call" type="button" class="btn btn-danger"
												onclick="terminate_call()"> <i
													class="call-btn-icon fa fa-phone fa-rotate-135"></i> </button>

										</div>

									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 text-center" id="start-call-buttons"
										style="margin-top: 10px; margin-bottom: 10px;">
										<button class="btn btn-primary" id="callbutton" style="width: 80px;"
											type="button">
											Call
										</button>
										<button class="btn btn-primary" id="videomailbutton" type="button">
											Leave Videomail
										</button>
									</div>
								</div>
								<div class="col-xs-12 text-center" id="agent-name-box"
									style="margin-bottom: 5px; margin-top: 5px;" hidden>
									<p> You are talking to CSR <strong id="agent-name"> </strong>.</p>
								</div>
								<div id="recordicon" hidden>&nbsp;&nbsp;
									<span id="recordicon" class="glyphicon glyphicon-facetime-video blink"
										style="color:#FF0000;"></span>
									<label class="blink" style="color:#FF0000;">&nbsp;&nbsp;RECORDING</label>
								</div>
								<div id="secsremain" style="display:inline;"></div>

								<div class="alert alert-info" alert-dismissable id="vmwait" style="margin-top: 10px;"
									hidden>
									<a class="close" onclick="$('#vmwait').hide();" style="text-decoration:none">×</a>
									<strong>Videomail request sent.</strong> Please wait.
								</div>

								<div class="alert alert-success" alert-dismissable id="vmsent" style="margin-top: 10px;"
									hidden>
									<a class="close" onclick="$('#vmsent').hide();" style="text-decoration:none">×</a>
									<strong>Success!</strong> Videomail sent.
								</div>
							</div>
						</div>
					</section>
					<!-- Right Col -->
					<section class="col-lg-5" id="chat-section">
						<div class="box direct-chat direct-chat-primary">
							<div class="box-header with-border" id="chat-header">

								<div class="tab-container">

									<div id="chat-tab" class="tab active-tab">
										<h3 class="box-title">Agent Chat</h3>
									</div>

									<div id="trans-tab" class="tab">
										<h3 class="box-title">Transcript</h3>
									</div>


									<div id="caption-settings-tab" class="tab">
										<h3 class="box-title">Caption Settings</h3>
									</div>

								</div>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>

							<div class="box-body">
								<!-- Conversations are loaded here -->
								<div id="chat-body">
									<div class="direct-chat-messages" id="chat-messages"></div>
									<div class="direct-chat-timestamp text-bold" id="rtt-typing"
										style="margin-left: 10px; min-height: 20px"></div>
								</div>

								<div id="trans-body" style="display:none;">
									<div class="direct-chat-messages" id="caption-messages">

									</div>
								</div>




								<div class="tab-pane" id="caption-settings-body" role="tabpanel"
									aria-labelledby="caption-settings-tab" style="display:none;">
									<li class="cap-setting">
										<span>Enable Captions:</span>
										<div class="form-check">
											<input class="form-check-input position-static" type="checkbox"
												id="enable-captions" onclick="mute_captions()" checked>
										</div>
									</li>

									<li id="cap-font-size" class="cap-setting">
										<span>Font size:</span>
										<select id="font-select" class="font-select" type="select" name="font-select"
											onchange="changeCaption(this.value)">
											<option value="2.5">Default</option>
											<option value="1.5">Small</option>
											<option value="3">Large</option>
										</select>
									</li>

									<li id="cap-font-color" class="cap-setting">
										<span>Font color:</span>
										<div class="color-select-container">
											<div id="font-grey" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="font-black" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="font-white" class="color-select" onclick="changeCaption(this.id)">
											</div>
										</div>
									</li>

									<li id="cap-bg-color" class="cap-setting">
										<span>Background color:</span>
										<div class="color-select-container">
											<i id="bg-transparent" class="far fa-times-circle"></i>
											<div id="bg-grey" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="bg-black" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="bg-white" class="color-select" onclick="changeCaption(this.id)">
											</div>
										</div>
										<input type="range" min="0" max="1" step=.01 value="1"
											id="opacity-slider-consumer">
									</li>










								</div>

							</div>

							<div id="chat-footer" class="box-footer">
								<form name="chatsend" id="chatsend">
									<div class="input-group">
										<input type="hidden" id="displayname">
										<input type="text" id="newchatmessage" placeholder="Chat disabled"
											class="form-control" maxlength="500" autocomplete="off" required disabled>
										<span class="input-group-btn">
											<button id="chat-emoji" class="btn btn-primary btn-flat" type="button"
												data-toggle="dropdown" animation="true" disabled>&#128512;</button>
											<div class="dropdown-menu dropdown-multicol" id="emoji-selector"
												aria-labelledby="dropdownMenuButton"
												style="height:150px; overflow-y: scroll;">
												<li role="presentation" class="dropdown-header">Select an Emoji</li>
												<li role="presentation" class="divider"></li>
												<div class="dropdown-row">
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128512;">&#128512;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128513;">&#128513;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128516;">&#128516;</button>
												</div>
												<div class="dropdown-row">
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128547;">&#128547;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128577;">&#128577;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#129320;">&#129320;</button>
												</div>
												<div class="dropdown-row">
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128077;">&#128077;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128078;">&#128078;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128075;">&#128075;</button>
												</div>
												<div class="dropdown-row">
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128263;">&#128263;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128264;">&#128264;</button>
													<button class="dropdown-item" type="button"
														style="background-color:transparent; border:none"
														onclick="addEmoji(this.value)"
														value="&#128266;">&#128266;</button>
												</div>

											</div>
											<button id="chat-send" class="btn btn-primary btn-flat" type="submit"
												disabled>Send</button>
										</span>
									</div>
								</form>
								<p hidden id="characters-left">You have <span id="chatcounter">500</span> characters
									left.</p>
							</div>
							<div id="caption-settings-footer" class="card-footer text-center" style="display:none;">
								<button class="btn btn-primary center-block mx-auto" type="button"
									onclick="testCaptions()">Preview</button>

							</div>
							<div class="row">
								<div class="col-xs-12 " style="margin-top: 10px; margin-bottom: 10px;">
									<!-- <div class="row">
										<div class="col-xs-12 " style="margin-top: 10px; margin-bottom: 10px;">
											<span>Preferred Language</span>
											<select name="webmenu" id="language-select" style="width: 210px;margin-left:10px">
												<option value="en" selected title="images/flags/us.png">English</option>
												<option value="ar" title="images/flags/ae.png">Arabic</option>
												<option value="zh" title="images/flags/cn.png">Chinese (Mandarin)</option>
												<option value="nl" title="images/flags/nl.png">Dutch</option>
												<option value="fr" title="images/flags/fr.png">French</option>
												<option value="de" title="images/flags/de.png">German</option>
												<option value="it" title="images/flags/in.png">Italian</option>
												<option value="ja" title="images/flags/jp.png">Japanese</option>
												<option value="ko" title="images/flags/kr.png">Korean</option>
												<option value="pt" title="images/flags/pt.png">Portuguese</option>
												<option value="es" title="images/flags/mx.png">Spanish</option>
											</select>
										</div>
									</div> -->
									<a class="btn btn-primary" id="screenshareButton" disabled>Request Screenshare</a>
									<p id="requestAck" hidden>Screenshare Request Sent</p>
									<div id="screenshareButtonGroup" hidden>
										<a class="btn btn-primary" id="startScreenshare">Start Screenshare</a>
									</div>
									<br>
									<br>

									<div class="btn-group">
										<input type="file" id="fileInput" name="fileInput"
											class="form-control-file btn btn-default"
											style="background-color:transparent; border: transparent;" disabled>
									</div><br>

									<button class="btn btn-primary" id="shareFileConsumer" onclick="shareFileConsumer()"
										disabled>Send File</button><br>

									<div id="consumer-file-group" style="overflow: auto;height: 200px;display:none;margin-top:7px">
										<span>Select the file to download:</span>
										<ul class="list-group" id="consumer-file-list">
										</ul>
									</div>

									<div class="alert alert-success" alert-dismissable id="fileSent"
										style="margin-top: 10px;" hidden>
										<span class="close" onclick="$('#fileSent').hide();"
											style="text-decoration:none">×</span>
										<strong>Success!</strong> File Sent
									</div>

								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-xs-12">
								<span id="preferred-language-span" class="pull-right" style="margin-left:5px"></span>
							</div>
						</div>
					</section>

				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<%- include("../partials/acedirect_footer") %>

		<!-- Control Sidebar -->

		<!-- Add the sidebar's background. This div must be placed
			     immediately after the control sidebar -->
		<div class="control-sidebar-bg" style="width:400px; right:-400px"></div>

	</div>
	<!-- ./wrapper -->

	<!-- Glass Panel -->
	<div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>

	<!-- License Modal -->
	<div class="modal fade" id="licModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="licModalLabel">Copyright Notices</h4>
				</div>
				<div class="modal-body">
					<div id="licModalBody"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>



	<!--Call Ended Modal -->
	<div class="modal fade" id="callEndedModal" tabindex="-1" role="dialog" style="z-index: 2000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>CALL HAS ENDED</h1>
					<h4 id="redirectdesc"> Redirecting to FCC.gov ...</h4>
				</div>
				<div class="modal-footer">
					<p>If not redirected, <a id="redirecttag" href=""><span>CLICK HERE</span></a></p>
				</div>
			</div>
		</div>
	</div>

	<!--Zen Desk Outage Modal -->
	<div class="modal fade" id="ZenDeskOutageModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>Ticketing System Outage</h1>
					<h4>The complaint ticketing system is currently experiencing an outage.<br>Please try again in a few
						minutes.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Videomail Modal -->
	<div id="videomailModal" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title">Ready to record?</h2>
				</div>
				<div class="modal-body text-center">
					<span class="glyphicon glyphicon-facetime-video" style="font-size: 100px;"></span>
					<p style="font-size: 18px;">Recording will begin when you click the Record button.</p>
				</div>
				<div class="modal-footer">
					<div class="btn-group" style="width: 100%;">
						<button id="start-recording-btn" type="button"
							onclick="startRecordingVideomail(switchQueueFlag);" class="btn btn-success btn-style"
							style="width: 50%; height: 50px;"> Record </button>
						<button id="cancel-recording-btn" type="button" onclick=afterHoursHideVoicemail()
							class="btn btn-danger btn-style" style="width: 50%; height: 50px;"> Cancel </button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- After Hours Modal -->
	<div class="modal fade" id="afterHoursModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="max-width: 500px;">
			<div class="modal-content">
				<div class="modal-header text-center" style="padding-top: 0; padding-bottom:0;">
					<h2>The FCC ASL Consumer Support Line is Closed.</h2>
				</div>
				<div class="modal-body text-center">
					<h4>Hours of Operation: <span id="ah-start-time"></span> to <span id="ah-end-time"></span>
						Mondays-Fridays (excluding Federal holidays)<h4>
							<img src="/images/fccColor.png" class="user-image" alt="FCC">
				</div>
				<div style="border-top: 1px solid #f4f4f4; padding: 10px;" class="text-center">
				</div>
				<!-- This URL action should invoke DTMF Tone 1 -->
				<h3>&nbsp;To leave a videomail <a href="#" onclick=afterHourVoicemail()>click here</a>.</h3>
			</div>
		</div>
	</div>

	<!--In-Queue Modal -->
	<div class="modal fade" id="queueModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="max-width: 500px;">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h2>Please wait for a Representative.</h2>
				</div>
				<div class="modal-body">
					<div class="row justify-content-md-center">
						<div class="col-8 text-center align-self-center">
							<h4 id="queue-msg"> There are <span id="pos-in-queue">no</span> callers ahead of you. </h4>
							<!--note, only counting callers in complaints queue-->
							<div class="btn-group-lg btn-group-vertical">
								<button id="videomail-btn" type="button" class="btn btn-success btn-lg"
									onclick="afterHourVoicemail()">Leave Videomail Message</button>
								<button id="exit-queue" type="button" class="btn btn-danger btn-lg "
									onclick="exit_queue()">Hangup</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h5><span class="text-red" id="agents-avail"></span></h5>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!--Out of Extensions Modal -->
	<div class="modal fade" id="outOfExtensionsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="max-width: 500px;">
			<div class="modal-content">
				<div class="modal-header text-center" style="padding-top: 0; padding-bottom:0;">
					<h2>Servers under heavy traffic</h2>
				</div>
				<div class="modal-body text-center">
					<h4 id="queue-msg"> Automatically trying again in <span id="newExtensionRetryCounter">10</span>
						seconds. <h4>
				</div>
				<div class="text-center" style="border-top: 1px solid #f4f4f4; padding: 10px;">
					<!-- This URL action should invoke DTMF Tone 1 -->
					<h5>&nbsp;10 second wait too long? <a href="#" onclick='extensionRetry()'>Click to try now</a>.</h5>
				</div>

			</div>
		</div>
	</div>

	<!--Language Select Modal -->
	<div id="languageSelectModal" class="modal fade">
		<div class="modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title">Chat/captioning language</h2>
				</div>
				<div class="modal-body text-center">
					<p style="font-size: 18px;">Please select your preferred language for chat and captioning.</p>
					<select name="webmenu" id="language-select" style="width: 210px;margin-left:10px">
						<option value="en" selected title="images/flags/us.png">English</option>
						<option value="ar" title="images/flags/ae.png">Arabic</option>
						<option value="zh" title="images/flags/cn.png">Chinese (Mandarin)</option>
						<option value="nl" title="images/flags/nl.png">Dutch</option>
						<option value="fr" title="images/flags/fr.png">French</option>
						<option value="de" title="images/flags/de.png">German</option>
						<option value="it" title="images/flags/in.png">Italian</option>
						<option value="ja" title="images/flags/jp.png">Japanese</option>
						<option value="ko" title="images/flags/kr.png">Korean</option>
						<option value="pt" title="images/flags/pt.png">Portuguese</option>
						<option value="es" title="images/flags/mx.png">Spanish</option>
					</select>
				</div>
				<div class="modal-footer">
					<div class="btn-group" style="width: 100%;">
						<button id="start-recording-btn" type="button" onclick="setPreferredLanguage();"
							class="btn btn-primary btn-style pull-right" data-dismiss="modal"> OK </button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- phone-page -->

	<!-- Jssip hidden data -->
	<div hidden>
		<div id="my_sip_uri"> </div>
		<div id="sip_password"> </div>
		<div id="pc_config"> </div>
	</div>

	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/js/jwt-decode.js"></script>
	<script type="text/javascript" src='/assets/js/moment.js'></script>
	<script type="text/javascript" src="/assets/js/adminlte.min.js"></script>
	<script type="text/javascript" src="/assets/js/inputmask.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.inputmask.min.js"></script>
	<script type="text/javascript" src="/assets/js/lodash.min.js"></script>
	<script type="text/javascript" src="/assets/js/gridstack.min.js"></script>
	<script type="text/javascript" src="/assets/js/gridstack.jQueryUI.min.js"></script>
	<script type="text/javascript" src="/js/jquery.dd.min.js"></script>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/timer.jquery/0.9.0/timer.jquery.min.js"></script>
	<script>
		var complaintForm = true;
		var complaintRedirectActive = true;
		var complaintRedirectUrl = "http://www.fcc.gov";
		var complaintRedirectDesc = "FCC.gov";
		$("#redirecttag").attr("href", complaintRedirectUrl);
		$("#redirectdesc").text("Redirecting to " + complaintRedirectDesc + " ...");






	</script>
	<script type="text/javascript" src="/js/jssip_consumer.js"></script>
	<!-- Custom Javascript for ACEDirect complaint_form.html page -->
	<script type="text/javascript" src="/js/complaint_form.js"></script>

	<!-- Copy this from acedirect-kurento repo to acedirect/public/js -->
	<script src="/js/ACEKurento-1.0.0.js"></script>
</body>

</html>
